<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div>

  {{ range . }}
  <b>{{ .Type }}</b>
  <br/>
  <img src="{{ .Image }}" alt="">
  <br/>
  <a href="{{ .URL }}">{{ .Title }}</a>
  {{ end }}
  <hr>

  </div>

</script>
</body>
</html>
